{% block body %}
<h1>Utilisateurs du site</h1>   
<ul>
{% for user in userList %}
<li>{{ user.firstname }} {{ user.name|upper }} : {{ user.mail }} - {{ user.role }} 
<a href ="{{ path("user_profile", {id: user.id })}}">Modifier</a> <a href ="{{ path("delete_user", {id: user.id })}}">Supprimer</a> </li>
{% endfor %}
</ul>


{% endblock %}
