<a href = "user-list">Liste des utilisateurs</a>

<a href = "article-list">Liste des articles</a>
<a href = "/">Accueil</a>
{% block body %}
<h1>Utilisateurs du site</h1>  

<br>
<a href = "user-create">Créer un utilisateur</a>

<ul>
{% for user in userList %}
<li>{{ user.firstname }} {{ user.name|upper }} : {{ user.mail }} - {{ user.role }} 
<a href ="{{ path("user_profile", {id: user.id })}}">Modifier</a> <a href ="{{ path("delete_user", {id: user.id })}}">Supprimer</a> </li>
{% endfor %}
</ul>


{% endblock %}
