<ul>       
<li>{{ user.firstname }}</li>       
<li>Nom: {{ user.name|upper }}</li>       
<li>Email: {{ user.mail }}</li>     
<li>Role: {{ user.role }}  </li>

</ul>
{{ form(form) }}

<a href = "/user-list">Revenir à la liste des utilisateurs</a>
</div>